In [2]:
import pandas as pd
df = pd.read_csv("wiki_data.csv")

In [3]:
df.head()

   Unnamed: 0                                               text
0           1  Anovo\n\nAnovo (formerly A Novo) is a computer...
1           2  Battery indicator\n\nA battery indicator (also...
2           3  Bob Pease\n\nRobert Allen Pease (August 22, 19...
3           4  CAVNET\n\nCAVNET was a secure military forum w...
4           5  CLidar\n\nThe CLidar is a scientific instrumen...

In [10]:
def clean_text(text):
    text= text.str.lower()
    text = text.fillna('')
    text = text.apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))
    text = text.fillna('').apply(lambda x:''.join([i for i in x if not i.isdigit()]))
    return text

In [11]:
df["text"] = clean_text(df["text"])

NameError: name 'string' is not defined